@import url('https://fonts.googleapis.com/css2?family=Geologica&family=Kanit:wght@400;500&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


