@import url('https://fonts.cdnfonts.com/css/glory');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #1B2223 !important;
}

nav {
    font-family: 'Glory', sans-serif;
                                                
}

.container {
    color: #1A96B8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 80px;
   text-align: center;
   background-color: #1B2223;
   
}

.container h1 {
    font-family: 'Glory', sans-serif;
    color: #f4fefd;
}

.button {
    --color: #238dad;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
   }
   
   .button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .button::before {
    top: -1em;
    left: -1em;
   }
   
   .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .button:hover {
    color: rgb(10, 25, 30);
   }
   
   .button:active {
    filter: brightness(.8);
   }
   
   .button a {
    font-family: 'Glory', sans-serif ;
    color: #f4fefd;
   }

   .button a:hover {
    color: #1B2223;
   }
   
   .card {
    float: left;
    margin-top: 50px;
    margin-left: 100px;
    box-sizing: border-box;
    width: 190px;
    height: 254px;
    background-image: url(./img/rick.png);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
  }
  
  .card:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }


  .card2 {
    float: left;
    margin-top: 50px;
    margin-left: 100px;
    box-sizing: border-box;
    width: 190px;
    height: 254px;
    background-image: url(./img/cine.png);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
  }
  
  .card2:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .card2:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }

  .card3 {
    float: left;
    margin-top: 50px;
    margin-left: 100px;
    box-sizing: border-box;
    width: 190px;
    height: 254px;
    background-image: url(./img/spiderman.png);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
  }
  
  .card3:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .card3:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }

  .text {
    margin-top: 450px;
  }

  .text h5 {
    text-transform: uppercase;
    color: #f4fefd;
  }
  .text p {
    color: #1A96B8;
  }

  .text2 {
    margin-top: 450px;
  }

  .text2 h5 {
    text-transform: uppercase;
    color: #f4fefd;
  }
  .text2 p {
    color: #1A96B8;
  }

  .card4   {
    float: left;
    margin-top: 50px;
    margin-left: 100px;
    box-sizing: border-box;
    width: 190px;
    height: 254px;
    background-image: url(./img/museu.png);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
  }
  
  .card4:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .card4:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }

  
  .card5  {
    float: left;
    margin-top: 350px;
    margin-left: 100px;
    box-sizing: border-box;
    width: 190px;
    height: 254px;
    background-image: url(./img/harry.png);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
  }
  
  .card5:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .card5:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }

  .card6  {
    float: left;
    margin-top: 350px;
    margin-left: 100px;
    box-sizing: border-box;
    width: 190px;
    height: 254px;
    background-image: url(./img/hotel.png);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
  }
  
  .card6:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .card6:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }

  .card7  {
    float: left;
    margin-top: 350px;
    margin-left: 100px;
    box-sizing: border-box;
    width: 190px;
    height: 254px;
    background-image: url(./img/jornal.png);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
  }
  
  .card7:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .card7:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }

  .card8  {
    float: left;
    margin-top: 350px;
    margin-left: 100px;
    box-sizing: border-box;
    width: 190px;
    height: 254px;
    background-image: url(./img/luffy.png);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
  }
  
  .card8:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .card8:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }



  @media screen and (max-width: 600px) {
    main {
      display: flex;
      justify-content: center;
      align-items: center;
      
    }

    #projetos {
      margin-bottom: 350px;
      margin-left: 150px;
    }

    .card5 {
      margin-top: 50px;
    }

    .card6 {
      margin-top: 50px;
    }

    .card7 {
      margin-top: 50px;
    }

    .card8 {
      margin-top: 50px;
    }
    
}
